*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/* home section styling */
.home{
    display: flex;
    background: url("images/de-an-sun-Mj-6aHjC8VM-unsplash.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: black;
    font-weight: 700;
}
.home .home-content a{
    display: inline-block;
    background: black;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: black;
    background: none;
}
/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 30px;
    }
}


@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
@media (max-width: 400px)
{
.home .max-width
{
  margin-left: 10px;
  margin-top: 400px;
  }
  .home-content
  {
    margin-left:-15px;
  }
  .home .home-content .text-1{
    font-size: 24px;
  }
  .home .home-content .text-2{
    font-size: 30px;
  }
  .home .home-content .text-3{
    font-size: 24px;
  }
  .home .home-content a {
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 0;
  }
}
